.all-games-page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.game-table {
  flex-grow: 1;
}

.platform-cell {
  display: flex;
  grid-gap: 10px;
}

.controls-cell {
  display: flex;
  grid-gap: 20px;
}

.filters {
  display: flex;
  flex-direction: row;
  grid-gap: 16px;
  flex-wrap: wrap;
}